html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loader {
  text-align: center;
  font-family: "HeeboRegular";
  font-size: 18px;
  color: green;
  margin: 20px 0;
}

@font-face {
  font-family: "HeeboBlack";
  src: url("../fonts/heebo/Heebo-Black.ttf");
}
@font-face {
  font-family: "HeeboBold";
  src: url("../fonts/heebo/Heebo-Bold.ttf");
}
@font-face {
  font-family: "HeeboExtraBold";
  src: url("../fonts/heebo/Heebo-ExtraBold.ttf");
}
@font-face {
  font-family: "HeeboLight";
  src: url("../fonts/heebo/Heebo-Light.ttf");
}
@font-face {
  font-family: "HeeboMedium";
  src: url("../fonts/heebo/Heebo-Medium.ttf");
}
@font-face {
  font-family: "HeeboRegular";
  src: url("../fonts/heebo/Heebo-Regular.ttf");
}
@font-face {
  font-family: "HeeboThin";
  src: url("../fonts/heebo/Heebo-Thin.ttf");
}
