.mainCont {
  width: 60%;
  margin: 40px auto;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.headerName {
  font-family: "HeeboMedium";
  font-size: 28px;
  line-height: 41px;
  color: #363636;
}

.image {
  border-radius: 50px;
}

.contactListCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 10px 0;
}
.contactListCont:hover {
  cursor: pointer;
  filter: drop-shadow(0px 3px 3px #d6d6d6);
}

.contactInnerCont {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.contactTxt {
  font-family: "HeeboRegular";
  font-size: 14px;
  line-height: 21px;
  color: #555555;
}

.mH1 {
  font-family: "HeeboMedium";
  font-size: 20px;
  color: #363636;
  line-height: 29px;
}

.formField {
  margin: 20px 0;
}

.label {
  font-family: "HeeboRegular";
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  margin-bottom: 8px;
}

.addImgBtn {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 8px 24px;
  width: 30%;
  text-align: center;
  font-family: "HeeboRegular";
  font-size: 12px;
  line-height: 18px;
  color: #363636;
}
.addImgBtn:hover {
  cursor: pointer;
  filter: drop-shadow(0px 3px 3px #d6d6d6);
}

.noDataCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "HeeboRegular";
  font-size: 16px;
  line-height: 18px;
  color: #767676;
}
