.headCont {
  background: #ffffff;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.07);
  display: flex;
  padding: 15px;
}

.headContS1S1 {
  font-family: "PoppinsRegular";
  font-size: 14px;
  color: #2d2a2a;
  margin-bottom: 10px;
}

.headContS1S2 {
  display: flex;
  align-items: center;
}

.headContS2S2 {
  background: #e3f5ff;
  border-radius: 7px;
  padding: 8px;
  font-family: "PoppinsSemiBold";
  font-size: 16px;
  color: #1796dd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabCont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0;
  padding: 20px 10px;
}

.tab {
  font-family: "PoppinsRegular";
  font-size: 14px;
  color: #2d2a2a;
  padding: 8px 10px;
}

.tabSelected {
  font-family: "PoppinsRegular";
  font-size: 14px;
  color: #2d2a2a;
  background: #e3f5ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
}

.mapCont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 10px;
  position: relative;
}

.busIcon {
  position: absolute;
}
